  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  body{
    font-family: "Poppins" sans-serif;
  }
/**************NAVBAR STYLE****************/
.logo{
  width: 3.125rem;
  height: 2.8125rem;
}
nav a.nav-link{ 
  cursor: pointer;
  letter-spacing: 0.0375rem;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a {
  color: #ffffff;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.125rem solid violet;
}
.navbar-nav > li > a:hover{
  border-bottom: 0.125rem solid violet;
}